{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
{% set avatar_url = pages.find('/about').media.images|first.url ?: url('theme://images/avatar.png') %}
{% import 'macros/dates.twig' as dates %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
  <title>{% if header.title %}{{ header.title|e('html') }} - {% endif %}{{ 'SITE.TITLE'|t|e('html') }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include 'partials/metadata.html.twig' %}
  <link rel="shortcut icon" href="{{ url('theme://images/favicon.ico') }}" />
  <link rel="alternate" type="application/rss+xml" title="My Blog" href="/rss.xml">

  {% block stylesheets %}
    {% do assets.addCss('theme://css/style.css',100) %}
  {% endblock %}
  
  {% block assets deferred %}
    {{ assets.css()|raw }}    
  {% endblock %}
</head>
<body>

    {% include 'partials/navigation.html.twig' %}

    <section id="wrapper">
        {% block header %}
            {% if page.header.header is not same as(false) and theme_config.title_header %}
                {% include 'partials/header.html.twig' %}
            {% endif %}
        {% endblock %}

        <div class="{{ page.header.class }}">
        {% block content %}{% endblock %}
        </div>

        {% block footer %}
        {% include 'partials/footer.html.twig' %}
        {% endblock %}
    </section>

    {% if site.analytics %}
    {% include 'partials/analytics.html.twig' %}
    {% endif %}
    
  {% block javascripts %}
      {% do assets.addJs('jquery',101) %}
      {% do assets.addJs('theme://js/main.js',100) %}
      {% do assets.addJs('theme://js/jquery.jscroll.min.js') %}
  {% endblock %}

  {% block bottom %}
    {{ assets.js()|raw }}
    {{ assets.js('bottom')|raw }}
  {% endblock %}
</body>
</html>
